.navbar {
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 4.5rem;
  display: flex;              
  align-items: center;       
}

 
.navContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.navItems {
  display: flex;
  gap: 3.5rem;
}

.navButton {
  height: 2.5rem;
  display: flex;
  text-decoration: none;
  align-items: center;  
  justify-content: center;  
  border-radius: 5rem;
  padding: 0 32px; 
  font-size: 16px;
  cursor: pointer;
  border: none; 
}

.Login {
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgb(246, 126, 162);
}

.Register {
  color: rgb(225, 112, 146);
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 112, 146);
}

.Login:hover {
  color: rgb(225, 112, 146);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 112, 146);
}

.Register:hover {
  transform: scale(1.02);
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.not-found-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color:red;
}